<h1>Expert</h1>
	<h1>Plugins for Vim</h1>
	<p>Luckily for developers, there are MANY Vim plugins available for 
	installation that will make your Vim experience much more enjoyable. In fact, 
	the various plugins available for Vim is one of the reasons that Vim is so 
	well-loved by developers. No matter what you're looking for, you can probably 
	find a plugin that will help you. These plugins are excellent for solving 
	workflow issues, customization, and more. Of course, one thing to keep in mind 
	when using plugins is that plugins are very good at preventing your thorough 
	understanding of Vim and it's functionality. It's easy to get lost in the 
	ease that many of these plugins provide for you, so just be weary which 
	plugins you decide to use.<p>
	<p>Here is a list of some plugins that users have found useful. Of course, 
	there are many, many more plugins out there, so be sure to search for more 
	that suit your needs!</p>
	<h3><a href="https://github.com/gmarik/Vundle.vim">Vundle</a></h3>
	<p>First and foremost, you may need a plugin to manage your plugins. That's 
	what Vundle can do for you. Short for "Vim Bundle", Vundle helps you keep 
	track of all the plugins you install, configure these plugins, and install 
	the configured plugins. Additionally, it enables you to search for Vim 
	scripts by name and sort out which of your plugins are consistently unused.</p>
	<h3><a href="https://github.com/scrooloose/syntastic">Syntastic</a></h3>
	<p>Syntastic is a simple syntax checker for Vim. It highlights any syntax 
	problems and shows errors without the need for compiling the code or 
	executing the script. The linting works both on demand and automatically 
	upon saving.</p>
	<h3><a href="http://kien.github.io/ctrlp.vim/">Ctrl-P</a></h3>
	<p>Ctrl-P is a Vim plugin that helps you find files even if you don't 
	remember the name or full file path. All you have to do is enter some 
	characters that you can remember from the file path. From there, the plugin 
	will find any matches and sort them by best-guess.</p>
	<h3><a href="https://github.com/scrooloose/nerdtree/">NERDTree</a></h3>
	<p>Although Vim has a built-in directory browser, NERDTree allows you to 
	navigate through files much more easily. The plugin will open your current 
	directory, and from there you can browse through your projects and files. 
	It also enables you to create files, delete files, and perform other basic 
	file management tasks.</p>
	<h3><a href="http://majutsushi.github.io/tagbar/">Tagbar</a></h3>
	<p>Tagbar is a plugin that helps you browse through any tags in your source 
	code files. For example, if you are developing Java code, Tagbar displays a 
	sidebar that lists the various classes in your code and what methods are 
	defined under these classes.</p>
	<h3><a href="http://www.vim.org/scripts/script.php?script_id=3526">EasyMotion</a></h3>
	<p>EasyMotion is a plugin that allows you to traverse through your files 
	in a much quicker way. By using the <leader> character plus <w>, EasyMotion 
	will turn the first letter of every word in the file into an identifier 
	character. Next, you'll type the identifier character closest to where you 
	want to go, and then you're there!</p>
	<h3><a href="https://github.com/terryma/vim-multiple-cursors">Multiple Cursors</a></h3>
	<p>Multiple Cursors is a Vim plugin that enables you to edit multiple sections 
	of code at once. For instance, if you want to change the same word in multiple 
	parts of your file, Multiple Cursors can be used by leaving your cursor over 
	a word in normal mode, typing Ctrl-n, and highlighting the instances of that 
	word that you wish to change. From there, whatever you type will be edited 
	in the instances you selected.</p>
	<p>Additionally, the site <a href="http://vimawesome.com/">Vim Awesome</a> 
	provides links to downloads of many useful plugins. In addition to plugins 
	like those listed above there a plenty for customization (like color scheme 
	plugins), syntax highlighting/assistance with various programming languages, 
	and of course, much more.</p>