<h1>Expert</h1>
<h1>Regular Expressions (REGEX)</h1>
<a class="anchor" name="meta"></a>
<h2>Meta-characters</h2>
<p>The intermediate tutorial section covered the construction of pattern strings using 
<strong>literal</strong> characters. Here, you will be using <strong>meta-characters</strong>
 - characters, preceded with a backslash, that have special meanings inside patterns.</p>
<p>Below are of some of the most frequently used meta-characters in VIM:</p>
<table class="table table-hover">
	<thead>
		<tr><th>Character</th><th>Meaning</th></tr>
	</thead>
	<tbody>
		<tr>
			<td>\s</td><td>whitespace character</td>
		</tr>
		<tr>
			<td>\S</td><td>non-whitespace character</td>
		</tr>
		<tr>
			<td>\d</td><td>digit</td>
		<tr>
			<td>\D</td><td>non-digit</td>
		</tr>
		<tr>
			<td>\w</td><td>word character</td>
		</tr>
		<tr>
			<td>\W</td><td>non-word character</td>
		</tr>
		<tr>
			<td>\a</td><td>alphabetic character</td>
		</tr>
		<tr>
			<td>\A</td><td>non-alphabetic character</td>
		</tr>
		<tr>
			<td>\u</td><td>uppercase character</td>
		</tr>
		<tr>
			<td>\U</td><td>non-uppercase character</td>
		</tr>
	</tbody>
</table>

<p>For example, to match a date such as 12/2/2014 you can use: <code>\d\d/\d\d/\d\d\d\d</code></p>

<p>To match a 5 letter word starting with an uppercase letter, use: <code>\u\w\w\w\</code>
However, if you do not know how many characters are in a word, you can use 
<strong>quantifiers</strong>.</p>

<a class="anchor" name="quantifiers"></a>
<h2>Quantifiers</h2>
<p>Quantifiers allow you to set how many times a certain part of your pattern 
should be repeated.</p>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Quantifier</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>*</td>
			<td>matches 0 or more of the preceding characters, ranges or metacharacters .* 
			matches everything including empty line</td>
		</tr>
		<tr>
			<td>\+</td>
			<td>matches 1 or more of the preceding characters</td>
		</tr>
		<tr>
			<td>\=</td>
			<td>matches 0 or 1 more of the preceding characters</td>
		<tr>
			<td>\{n}</td>
			<td>matches exactly n times of the preceding characters</td>
		</tr>
	</tbody>
</table>

<a class="anchor" name="charRange"></a>
<h2>Character Ranges</h2>
<p>Now, you will be introduced to some typical character ranges.</p>
<p>The expressions, <code>[012345]</code> and <code>[0 – 5]</code> will match any of the numbers 
in the range enclosed in the square brackets. </p>
<p>Note that the range represents just one character in the search pattern. 
Therefore, <code>[0123]</code> and <code>0123</code> do not yield the same results. </p>
<p>The order is not important when using the square braces. For example, <code>[3210]</code> and <code>[0123]</code> might be ordered 
differently but are the same character ranges. However, <code>0123</code> and <code>3210</code> are very different.</p>


	<h3>Example</h3>
	<p>Note the differences in the following texts while using the expression, s:[65]:Dig:g</p>
	<p>Before:</p>
	<p><em>High <strong>65</strong> to 70. Southeast wind around 10</em></p>
	<p>After:</p>
	<p><em>High <strong>DigDig</strong> to 70. Southeast wind around 10</em></p>
	<p>However, this is what happens when s:65:Dig:g is used to match the same text.</p>
	<p>Before:</p>
	<p><em>High <strong>65</strong> to 70. Southeast wind around 10</em></p>
	<p>After:</p>
	<p><em>High <strong>Dig</strong> to 70. Southeast wind around 10</em></p>

<p>(Example taken directly from <a href="http://www.vimregex.com">VimRegex</a>)</p>
<h3>More on Character Ranges</h3>
<p>Character ranges can be particularly useful when you want to run a grammar check. 
 You can achieve this by:  <code>\.\s\+[a-z]</code></p>
<p>This looks for a period followed by one or more blank spaces as well as a lower case word as indicated
 by the [a-z] range.</p>