<h1>Expert</h1>
<h1>Vimrc</h1>
<p>The vimrc file is a file that contains any runtime configuration settings that 
you want to initialize upon starting Vim. Essentially, you can customize Vim with 
the commands you choose to put in your vimrc file. If you have a Unix-based system, 
the file is called .vimrc, whereas it is called _vimrc on a Windows system.</p>
<p>When creating your vimrc file, it's important that you thoroughly understand 
all the content, rather than just copying customization you find online and pasting 
it into the file. To keep track of what every line in your file does, be sure to 
add comments where you feel necessary by typing double quotes (") followed by the 
comment.</p>
<a class="anchor" name="tabs"></a>
<h2>Tabs</h2>
<p>You can specify how many spaces you'd like your tabs to represent. To specify how many spaces are shown for a <kbd>tab</kbd>, use the command <code>set tabstop</code>. For example, 
<code>set tabstop=5</code> would make every tab you see five spaces long. When editing (how 
many spaces you'd like a tab to be when you personally press the <kbd>Tab</kbd> key), the 
command is <code>set softtabstop</code>. The command <code>set expandtab</code> converts all tabs to 
spaces. Therefore, if you have set the spaces per <kbd>Tab</kbd> to five, it will merely 
mean that you are inserting five spaces.</p>

<a class="anchor" name="movementBind"></a>
<h2>Movement Bindings</h2>
<p>You may notice some movement issues with Vim. For example, if you have a line 
of code that's so long it's wrapped into two lines, up and down commands (<kbd>j</kbd> and <kbd>k</kbd>) 
will move you to the next "real" line, rather than the next visual line (the 
wrapped line). If you like to change this, you can type the commands <code>nnoremap j gj</code> and <code>nnoremap k gk</code>. Other movement bindings can be done similarly.</p>

<a class="anchor" name="uiConfig"></a>
<h2>UI Config</h2>
<p>There are many ways to customize the visual aspects of Vim. This can become 
very helpful while coding. For instance, if you'd like to show line numbers, 
simply type <code>set number</code>. The command <code>set showcmd</code> will show the previously 
typed command in the bottom bar. <code>set cursorline</code> is especially helpful when 
working on multiple files at the same time; it will highlight or underline 
the line where your cursor left off. The command <code>set showmatch</code> will highlight 
the corresponding parenthesis, bracket, or brace when your cursor moves over the 
character.</p>

<a class="anchor" name="launchConfig"></a>
<h2>Launch Config</h2>
<p>For a one-time configuration of plugins, you can use the commands <code>call 
pathogen#infect()</code> and <code>call pathogen#runtime_append_all_bundles</code> to extract 
your Vim plugins from their location in your ~/.vim/bundles directory under Vim 
up to the ~/.vim folder.</p>

<a class="anchor" name="backups"></a>
<h2>Backups</h2>
<p>Vim automatically creates a backup file when you leave a Vim file open after 
changing it. The backup file has the same name as the original file with a "~"
appended to it. To avoid confusion with the files, you can move the backup file 
to another folder with commands <code>set backupdir=~/.vim-tmp,~.tmp,~/tmp,/var/tmp,/tmp</code>,  
<code>set backupskip=/tmp/*,/private/tmp*</code>, and <code>set directory=~/.vim-tmp,~/tmp,/var/tmp,/tmp</code>. 
Additionally, the commands <code>set backup</code> and <code>set writebackup</code> enable backup 
support.</p>

<a class="anchor" name="colors"></a>
<h3>Color Schemes</h3>
<p>There are many color schemes available for Vim. Firstoff, the command <code>syntax enable</code> 
enables syntax processing. Once you have chosen a color scheme for your customized 
Vim, simply type <code>colorscheme</code> followed by the specific name of the color scheme.</p>