		<h1>About</h1>
		<a class="anchor" name="genIntro"></a>
		<h2> General Introduction</h2>
		<p>
			Vim is a text editor, one which is configurable and efficient. It is intended to supersede the Vi editor on UNIX systems, because it sought to provide a more complete feature set. It can be seen as its own IDE for programming; programmers often use Vim and find it useful (once they’ve learned the necessary commands for efficient use). Though, it can just be a simple text editor. There isn’t a tutorial for the use of Vim in Vim itself, but help can be found using the command :help, and through various online tutorials (like this one). So, to use efficiently and to its full capacity, Vim must be learned and practiced. Vim isn’t a word processor, like Microsoft Word or Apple’s Pages, and so isn’t a WYSIWYG (what you see is what you get) editor. Designed for use in both a command-line interface environment and a graphical user interface environment as its own standalone application, it is a free and open source software under a license that includes charityware clauses, wanting users who benefit from using Vim to donate to children in Uganda through a certain charity or foundation <a href="http://www.vim.org/sponsor/" target="_blank">(http://www.vim.org/sponsor/)</a>.
		</p>
		<h2>Supported OSs:</h2>
		<p>Linux, Mac (shells available for download), Windows (available for download), OS/2, Amiga</p>
		<h3>Who Uses Vim?</h3>
		<p>Programmers (familiar with keyboard shortcuts will find the commands accessible), “tech enthusiasts” (those that want to learn for the sake of learning), teachers interested in vim for workflow (speeding up note-taking, coding in certain languages)</p>
		<h3>File formats:</h3><p>Vim can open virtually any file format. Vim recognizes three types of line-ending characters which allow it to be used to work with many file formats on many differnt systems.</p>
		
		<a class="anchor" name="history"></a>
		<h2>History</h2>
		<p>
				VIM was initially a contraction of Vi IMitated. Written by Bram Moolenar and released in November 2, 1991 by v1.14. The most stable version is 7.4, which is the current version. Bram had used the editors he had learned on Unix. When he found that there were no great Vi’s available on his new Amiga computer, he used what was available, Stevie and built upon it. The goal was to imitate VI, but it grew far beyond that and by v1.22, he donned a new name upon his work, Vi IMproved <a href="http://www.moolenaar.net/vimstory.pdf" target="_blank">(http://www.moolenaar.net/vimstory.pdf)</a>.
		</p>
		<a class="anchor" name="devTime"></a>
		<h2>Development Timeline</h2>
		<table class="table table-hover">
			<thead><tr>
				<th>Date</th>
				<th>Version</th>
				<th>"Selling Points"</th>
			</tr></thead>
			<tbody>
			<tr>
				<td>1988</td>
				<td>v1</td>
				<td>Vi iMitation on the Amiga</td>
			</tr>
			<tr>
				<td>1991</td>
				<td>v1.14</td>
				<td>First public release</td>
			</tr>
			<tr>
				<td>1992</td>
				<td>v1.22</td>
				<td>Port to Unix, renamed Vi IMproved</td>
			</tr>
			<tr>
				<td>1994</td>
				<td>v3</td>
				<td>Multiple windows capability</td>
			</tr>
			<tr>
				<td>1996</td>
				<td>v4</td>
				<td>A GUI</td>
			</tr>
			<tr>
				<td>1998</td>
				<td>v5</td>
				<td>Syntax highlighting, basic scripting</td>
			</tr>
			<tr>
				<td>1999</td>
				<td>v5.4</td>
				<td>Basic file encryption</td>
			</tr>
			<tr>
				<td>2001</td>
				<td>v6</td>
				<td>Folding, plug-ins, multi-language, UTF-8 Support</td>
			</tr>
			<tr>
				<td>2006</td>
				<td>v7</td>
				<td>Tab support, spell checker, code completion</td>
			</tr>
			<tr>
				<td>2008</td>
				<td>v7.2</td>
				<td>Floating point support for scripts</td>
			</tr>
			<tr>
				<td>2010</td>
				<td>v7.3</td>
				<td>LUA/Python3 support, Blowfish encryption, persistent undo/redo</td>
			</tr></tbody>
		</table>
