/* Media Query Break Points */
/* Default XLarge Site Variables */
/* Large Site Variables */
/* Medium Site Variables */
/* Small Site Variables */
/* Colors */
/* $background-color: #333;
$header-color: #4A2E4F;
$nav-color: #6E444F;
$nav-color-two: #54344D;
$content-color: #FFFFD6;
*/
/* Backgrounds */
/* padding */
/* margins */
/* Mixins */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

body {
  background-color: #000;
  background-image: url("../media/images/black_lozenge.png"); }

h1, h2, h3, h4, h5, h6 {
  padding: 5px 0;
  margin: 0;
  font-family: "Arvo", serif; }

p {
  padding: 0;
  margin: 0; }

/* Main Layout IDs */
/* #banner{
	background-color: #444;
	width: 100%;
	height:300px;
} */
#header {
  background-color: #f1f1f1;
  width: 1400px;
  height: auto;
  position: relative;
  margin: 0 auto;
  border: 1px solid #d7d7d7;
  border-width: 0 0 1px 0;
  padding: 10px 15px; }
  @media screen and (max-width: 1399px) {
    #header {
      width: 100%; } }
  #header h1 {
    color: #272f32;
    bottom: 0; }

#siteHolder {
  width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  background-color: white; }
  @media screen and (max-width: 1399px) {
    #siteHolder {
      width: 100%; } }

.localNav {
  width: 100%; }

#breadcrumbs {
  clear: both;
  width: 100%; }

#footer {
  clear: both;
  width: 1400px;
  background-color: #f1f1f1;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: .5%;
  background: -webkit-linear-gradient(#f1f1f1, #e4e4e4);
  background: -o-linear-gradient(#f1f1f1, #e4e4e4);
  background: -moz-linear-gradient(#f1f1f1, #e4e4e4);
  background: linear-gradient(#f1f1f1, #e4e4e4);
  border: 1px solid #d7d7d7;
  border-width: 1px 0 1px 0;
  color: #000; }
  @media screen and (max-width: 1399px) {
    #footer {
      width: 100%; } }

/* Navigation Elements */
.sideNav * {
  margin: 0;
  padding: 0; }

.sideNav {
  border: solid #fafafa;
  border-width: 0px 0px 0px 0px;
  background-color: #2d302d;
  height: 100%; }

.sideNav h3 {
  font-size: 14px;
  padding: 10px 10px;
  /* Padding here */
  cursor: pointer;
  background-color: #2d302d;
  color: white;
  border: solid #fafafa;
  border-width: 0 0 1px 0; }

.sideNav h3 i {
  padding: 10px;
  margin-right: 10px;
  width: 40px;
  border-radius: 99px;
  background-color: #212321;
  text-align: center; }

.sideNav h3:hover {
  text-shadow: 0 0 1px #444;
  background-color: #393d39; }

.sideNav li {
  list-style-type: none; }

.sideNav ul li a {
  color: white;
  text-decoration: none; }

.sideNav ul ul li a {
  color: white;
  background-color: #2d302d;
  text-decoration: none;
  font-size: 12px;
  line-height: 30px;
  display: block;
  padding: 10px 15px;
  padding-left: 60px;
  transition: all 0.15s; }

.sideNav ul ul li a i {
  margin-right: 10px; }

.sideNav ul ul li a:hover {
  background-color: #393d39; }

.sideNav ul ul {
  display: none;
  border: 1px solid white;
  border-width: 0 0 1px 0; }

.sideNav li.active ul {
  display: block; }

/* Local Naviagtion Elements */
.localNav {
  width: 100%;
  /*background-color: $backgroundColor;
  @include monoGradientBottom(darken($backgroundColor,1%),5%);
  */ }
  .localNav i {
    margin-right: 5px; }

/*
.localNav:after {
  content: "";
  display: table;
  clear:   both;
}
.localNav *{
	margin: 0;
	padding: 0;
	margin-top:0px;
}
.localNav ul{
	list-style-type: none;
	background-color: $localNav-color-two;
	margin-left: 5px;
}
.localNav ul li{
	display: inline;
	float: left;
}
.localNav ul li>a{
	color: $foregroundColor;
	text-decoration: none;
	padding: $localnav-padding;
	line-height:30px;
	margin-right: $localNav-margin;
	background-color: $localNav-color;
	@include monoGradient($localNav-color, 5%);
}
.localNav ul li>a:hover{
	@include monoGradientBottom($localNav-color, 5%);
}
*/
/* Breadcrumbs Styling */
#breadcrumbs {
  padding: 10px 15px; }

/* Content Styling */
#pageContent p {
  padding: 10px 15px;
  /* Padding here */ }

#pageContent {
  background-color: white;
  min-height: 600px;
  padding-bottom: 10px; }
  #pageContent h1, #pageContent h2, #pageContent h3 {
    border: 1px solid #d7d7d7;
    border-width: 0 0 1px 0;
    padding: 10px 15px; }
  #pageContent h2 {
    margin-top: 10px; }
  #pageContent h3, #pageContent h4 {
    margin-top: 10px; }
  #pageContent h1 {
    font-size: 150%; }
  #pageContent h2 {
    font-size: 140%; }
  #pageContent h3 {
    font-size: 115%; }
  #pageContent h4 {
    font-size: 105%;
    padding: 10px 15px; }
  #pageContent img {
    display: block;
    margin: 5px auto; }
  #pageContent p, #pageContent ol, #pageContent ul {
    background-color: #f1f1f1;
    margin-top: 0; }
  #pageContent ol {
    padding: 15px 15px 10px 40px; }
  #pageContent .container {
    padding: 0 10px; }

.splash {
  height: 200px;
  width: 100%;
  background-color: white; }

/* .alert{
	background-color:$alertBoxColor;
	padding:$default-padding;
	border-radius: 20px;
	border: darken($alertBoxColor,10%) 1px solid;
	margin:$default-content-margin;
} */
.summary {
  background-color: #ffd385;
  padding: 10px 15px;
  border-radius: 20px;
  border: #ffc152 1px solid;
  margin: 5px 0; }

.commandBox {
  position: relative;
  max-width: 100%;
  padding: 10px 15px;
  background-color: #666;
  border: 1px solid #999;
  color: #fff;
  font-family: "Cutive Mono", monospace;
  display: block;
  border-radius: 4px; }

#leftHeader {
  width: 70%;
  height: auto;
  float: left; }

#rightHeader {
  width: 30%;
  height: auto-10px;
  float: right; }
  #rightHeader h5 {
    border: 1px solid #d7d7d7;
    border-width: 0 0 1px 0;
    margin-top: 0;
    padding-top: 0;
    width: 200px; }
  #rightHeader input[type='text'] {
    margin-bottom: 5px;
    width: 200px;
    border: 1px solid #1aa3a7; }
  #rightHeader input[type='password'] {
    margin-bottom: 5px;
    width: 200px;
    border: 1px solid #1aa3a7; }
  #rightHeader input[type='submit'], #rightHeader button {
    width: 97px; }
  #rightHeader input[type='submit'] {
    margin-right: 5px; }

.clearfix {
  clear: both; }

.floatRight {
  float: right;
  text-align: right; }

#logo {
  min-height: 100%;
  max-width: 100%;
  margin: auto; }

#quiz input {
  margin-left: 30px;
  margin-right: 10px; }

#quiz h3 {
  margin-bottom: 10px; }

.imFixed {
  position: fixed;
  max-width: 1400px;
  width: 100%;
  z-index: 500;
  top: 0;
  visibility: hidden;
  display: none; }

[class*='col-'] {
  padding: 0;
  margin: 0; }

.row {
  margin-left: 0;
  margin-right: 0; }

#p_holder {
  background-color: #212321; }

kbd {
  background-color: white;
  color: #000;
  border: 1px solid #cccccc; }

code {
  color: #900;
  background-color: #FFF;
  border: 1px solid #ff9999; }

a.anchor {
  display: block;
  position: relative;
  top: -30px;
  visibility: hidden; }

table.table tbody td, table.table thead th {
  padding: 5px 20px; }

.navbar {
  border-radius: 0px;
  margin-bottom: 0px; }

.navbar-default {
  background-color: #f1f1f1;
  background: -webkit-linear-gradient(#f0f0f0, #fcfcfc);
  background: -o-linear-gradient(#f0f0f0, #fcfcfc);
  background: -moz-linear-gradient(#f0f0f0, #fcfcfc);
  background: linear-gradient(#f0f0f0, #fcfcfc);
  border: 1px solid #d7d7d7; }

.navbar-default .navbar-nav > li > a {
  color: #000;
  border: solid #d7d7d7;
  border-width: 0px 1px 0 0; }

.navbar-default .navbar-nav > li > a:hover {
  background-color: #000;
  border: solid #d7d7d7;
  border-width: 0px 1px 0 0;
  background: -webkit-linear-gradient(#1aa3a7, #178d91);
  background: -o-linear-gradient(#1aa3a7, #178d91);
  background: -moz-linear-gradient(#1aa3a7, #178d91);
  background: linear-gradient(#1aa3a7, #178d91);
  color: white; }

.navbar-default .navbar-brand {
  border: solid #d7d7d7;
  border-width: 0 1px 0 0;
  color: #000; }

#rightHeader button[name='submit'] {
  margin-right: 5px; }

#register {
  padding: 10px; }
  #register .form-group {
    margin-bottom: 5px; }
    #register .form-group input.form-control {
      margin-bottom: 5px;
      border-radius: 0px;
      border: 1px solid #1aa3a7; }
  #register button {
    padding: 5px 10px; }

#quiz input[type='submit'] {
  padding: 5px 10px;
  margin: 10px 0 10px 10px; }

#errorMsg {
  display: inline; }
