$backgroundColor: #FFFFFF;
$foregroundColor: #FFFFFF;
$accentColor: #1AA3A7;
$highlightColor: #272F32;

$navColor1: #2d302d;
$navColor2: lighten($backgroundColor, 10%);

$headerHeight:auto;

/* Media Query Break Points */
$xLarge:1400px;
$large: 1399px;
$medium: 1024px;
$small:800px;
$phone:480px;

/* Default XLarge Site Variables */
$site-width:1400px;


/* Large Site Variables */
$large-site-width:100%;
$large-sidebar-width: 230px/960px * 100%;
$large-content-width: 730px/960px * 100%;

/* Medium Site Variables */
$medium-site-width:1400px;
$medium-sidebar-width: 230px/960px * 100%;
$medium-content-width: 730px/960px * 100%;

/* Small Site Variables */
$small-site-width:1400px;
$small-sidebar-width: 230px/960px * 100%;
$small-content-width: 730px/960px * 100%;

/* Colors */
/* $background-color: #333;
$header-color: #4A2E4F;
$nav-color: #6E444F;
$nav-color-two: #54344D;
$content-color: #FFFFD6;
*/
$localNav-color: $accentColor;
$localNav-color-two: #777;
$alertBoxColor: #de7373;
$summaryColor: #ffd385;
$headerColor: #F1F1F1;
$footer-color: $headerColor;


/* Backgrounds */
$background-image: url('../media/images/black_lozenge.png');

/* padding */
$default-padding: 10px 15px;
$default-second-padding: 10px 10px;
$localNav-margin: 5px;
$localnav-padding: 7px 20px;
/* margins */
$default-content-margin: 5px 0;

$headerFont: 'Arvo',serif;
$contentFont: 'Roboto', sans-serif;
$consoleFont: 'Cutive Mono', monospace;


/* Mixins */
@mixin monoGradient($color,$perct){
	  background: -webkit-linear-gradient($color, darken($color, $perct));
	  background: -o-linear-gradient($color, darken($color, $perct));
	  background: -moz-linear-gradient($color, darken($color, $perct));
	  background: linear-gradient($color, darken($color, $perct));
}
@mixin monoGradientBottom($color,$perct){
	  background: -webkit-linear-gradient(darken($color, $perct),$color);
	  background: -o-linear-gradient(darken($color, $perct),$color);
	  background: -moz-linear-gradient(darken($color, $perct),$color);
	  background: linear-gradient(darken($color, $perct),$color);
}
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html,body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
body{
	background-color: #000;
	background-image: $background-image;
}
h1,h2,h3,h4,h5,h6{
	padding: 5px 0;
	margin: 0;
	font-family: $headerFont;
}
p{
	padding: 0;
	margin: 0;
}
/* Main Layout IDs */
/* #banner{
	background-color: #444;
	width: 100%;
	height:300px;
} */
#header{
	background-color: $headerColor;
	width: $site-width;
	height: $headerHeight;
	position: relative;
	margin: 0 auto;
	border: 1px solid darken($headerColor,10%);
	border-width: 0 0 1px 0;
	@media screen and (max-width: $large){
		width: $large-site-width;
	}
	h1{
		color: $highlightColor;
		bottom:0;
	}
	padding:$default-padding;
}
#siteHolder{
	width: $site-width;
	margin: 0 auto;
	overflow: hidden;
	background-color: $foregroundColor;
	@media screen and (max-width: $large){
		width: $large-site-width;
	}
}	

.localNav{
	width: 100%
}
#breadcrumbs{
	clear:both;
	width: 100%;
}
#footer{
	clear: both;
	width: $site-width;
	background-color: $footer-color;
	margin: 0 auto;
	text-align:center;
	color: $foregroundColor;
    padding:.5%;
	@include monoGradient($footer-color, 5%);
	@media screen and (max-width: $large){
		width: $large-site-width;
	}
	border: 1px solid darken($headerColor,10%);
	border-width: 1px 0 1px 0;
	color: #000;

}
/* Navigation Elements */
.sideNav *{
	margin:0;
	padding: 0;
}
.sideNav{
	border: solid darken($backgroundColor,2%);
	border-width: 0px 0px 0px 0px;
	background-color: $navColor1;
	height:100%;
}
.sideNav h3{
	font-size: 14px;
	padding: $default-second-padding; /* Padding here */
	cursor: pointer;
	background-color: $navColor1;
	color: $foregroundColor;
	border: solid darken($backgroundColor,2%);
	border-width: 0 0 1px 0;
}
.sideNav h3 i{
	padding: 10px;
	margin-right:10px;
	width: 40px;
	border-radius: 99px;
	background-color: darken($navColor1,5%);
	text-align:center;
}
.sideNav h3:hover{
	text-shadow: 0 0 1px #444;
	background-color: lighten($navColor1, 5%);
}
.sideNav li{
	list-style-type: none;
}
.sideNav ul li a{
	color: $foregroundColor;
	text-decoration: none;
}
.sideNav ul ul li a{
	color: $foregroundColor;
	background-color: $navColor1;
	text-decoration: none;
	font-size: 12px;
	line-height: 30px;
	display: block;
	padding: $default-padding;
	padding-left: 60px;
	transition: all 0.15s;
}
.sideNav ul ul li a i {
	margin-right: 10px;
}
.sideNav ul ul li a:hover{
	background-color: lighten($navColor1,5%);
}
.sideNav ul ul{
	display: none;
	border: 1px solid $foregroundColor;
	border-width: 0 0 1px 0;
}
.sideNav li.active ul{
	display: block;
}
/* Local Naviagtion Elements */
.localNav{
	width: 100%;
	/*background-color: $backgroundColor;
	@include monoGradientBottom(darken($backgroundColor,1%),5%);
	*/
	i{
		margin-right: 5px;
	}
}
/*
.localNav:after {
  content: "";
  display: table;
  clear:   both;
}
.localNav *{
	margin: 0;
	padding: 0;
	margin-top:0px;
}
.localNav ul{
	list-style-type: none;
	background-color: $localNav-color-two;
	margin-left: 5px;
}
.localNav ul li{
	display: inline;
	float: left;
}
.localNav ul li>a{
	color: $foregroundColor;
	text-decoration: none;
	padding: $localnav-padding;
	line-height:30px;
	margin-right: $localNav-margin;
	background-color: $localNav-color;
	@include monoGradient($localNav-color, 5%);
}
.localNav ul li>a:hover{
	@include monoGradientBottom($localNav-color, 5%);
}
*/

/* Breadcrumbs Styling */
#breadcrumbs{
	padding: $default-padding;
}
/* Content Styling */
#pageContent p{
	padding: $default-padding; /* Padding here */
}
#pageContent{
	background-color: $foregroundColor;
	min-height:600px;
	h1,h2,h3{
		border: 1px solid darken($headerColor,10%);
		border-width: 0 0 1px 0;
		padding: $default-padding;
	}
	h2{
		margin-top: 10px;
	}
	h3,h4{
		margin-top: 10px;
	}
	h1{
		font-size: 150%;
	}
	h2{
		font-size: 140%;
	}
	h3{
		font-size: 115%;
	}
	h4{
		font-size: 105%;
		padding: $default-padding;
	}
	img{
		display: block;
		margin: 5px auto;
	}
	p,ol,ul{
		background-color: $headerColor;
		margin-top: 0;
	}
	ol{
		padding:15px 15px 10px 40px;
	}
	.container{
		padding: 0 10px;
	}
	padding-bottom: 10px;
}	


.splash{
	height:200px;
	width: 100%;
	background-color: $backgroundColor;
}
/* .alert{
	background-color:$alertBoxColor;
	padding:$default-padding;
	border-radius: 20px;
	border: darken($alertBoxColor,10%) 1px solid;
	margin:$default-content-margin;
} */
.summary{
	background-color: $summaryColor;
	padding:$default-padding;
	border-radius: 20px;
	border: darken($summaryColor,10%) 1px solid;
	margin:$default-content-margin;
}
.commandBox{
	position: relative;
	max-width:100%;
	padding:$default-padding;
	background-color:#666;
	border: 1px solid #999;
	color: #fff;
	font-family: $consoleFont;
	display: block;
	border-radius: 4px;
}
#leftHeader{
	width:70%;
	height: auto;
	float: left;
}
#rightHeader{
	width:30%;
	height: $headerHeight - 10px;
	float: right;
	h5{
		border: 1px solid darken($headerColor,10%);
		border-width: 0 0 1px 0;
		margin-top: 0;
		padding-top:0;
		width:200px;
	}
	input[type='text']{
		margin-bottom: 5px;
		width:200px;
		border: 1px solid $accentColor;
	}
	input[type='password']{
		margin-bottom: 5px;
		width:200px;
		border: 1px solid $accentColor;
	}
	input[type='submit'],button{
		width: 97px;
	}
	input[type='submit']{
		margin-right:5px;
	}
}
.clearfix{
	clear:both;
}
.floatRight{
	float: right;
	text-align: right;
}
#logo{
	min-height: 100%;
	max-width:100%;
	margin: auto;
}
#quiz input{
	margin-left: 30px;
	margin-right: 10px;
}
#quiz h3{
	margin-bottom:10px;
}
.imFixed{
	position:fixed;
	max-width: $site-width;
	width: 100%;
	z-index:500;
	top:0;
	visibility: hidden;
	display:none;
}

[class*='col-'] {
    padding: 0;
	margin: 0;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
#p_holder{
	background-color: darken($navColor1,5%);
}
kbd{
	background-color: $foregroundColor;
	color: #000;
	border: 1px solid darken($foregroundColor, 20%);
}
code{
	color: #900;
	background-color: #FFF;
	border: 1px solid lighten(#900, 50%);
}
a.anchor{display: block; position: relative; top: -30px; visibility: hidden;}
table.table tbody td,table.table thead th{
	padding:5px 20px;
}
.navbar{
	border-radius:0px;
	margin-bottom:0px;
}
.navbar-default{
	background-color: $headerColor;
	@include monoGradientBottom(darken($backgroundColor,1%),5%);
	border: 1px solid darken($headerColor,10%);
}
.navbar-default .navbar-nav>li>a {
	color: #000;
	border: solid darken($headerColor,10%);
	border-width: 0px 1px 0 0;
}
.navbar-default .navbar-nav>li>a:hover {
	background-color: #000;
	border: solid darken($headerColor,10%);
	border-width: 0px 1px 0 0;
	@include monoGradient($localNav-color, 5%);
	color:$foregroundColor;
}
.navbar-default .navbar-brand{
	border: solid darken($headerColor,10%);
	border-width: 0 1px 0 0;
	color: #000;
}
#rightHeader button[name='submit']{
	margin-right: 5px;
}
#register{
	padding: 10px;
	.form-group{
		margin-bottom: 5px;
		input.form-control{
			margin-bottom: 5px;
			border-radius: 0px;
			border: 1px solid #1aa3a7;
		}
	}
	button{
		padding: 5px 10px;
	}
}
#quiz{
	input[type='submit']{
		padding: 5px 10px;
		margin: 10px 0 10px 10px;
	}
}
#errorMsg{
	display:inline;
}