		<h1>Welcome!</h1>
		<p>Vim & Vigor is here to bring you an all-inclusive platform to begin using the Vim text editor and to learn more. By all-inclusive, we mean that any user with any level of experience in using Vim is welcome; beginners, intermediates, and experts. Why learn how to use a text editor? Aren't they simple to use? Not when they involve a number of commands, like Vim does, to make text editing more efficient. To reinforce your knowledge of using Vim, try some of our quizzes after completing the sections up to that point. </p>
		<h2>Easy to Read Notation</h2>
		<p> The tutorials are formatted so that you can easily recognize what keys to press or what commands to enter in Vim to produce the desired result. Key presses are formatted as such: <kbd>C</kbd> or if it's a sequence of keys <kbd>10c</kbd>. Commands are formatted in the following way: <code>:wq!</code></p>
		<h2>Beginners Tutorials</h2>
		<p>
			In beginner, we provide the basics for setting up and using Vim. From installation, navigating throughout the Vim workspace, Vim's various modes, and switching between modes. These steps are given step-by-step with supplementary screenshots for reference, along with links to read more about relevant steps.
		</p>
		
		<h2>Intermediate Tutorials</h2>
		<p>
			Intermediates are taken to the next level, with workflow, whitespace, and advanced search and replace methods. Given a bit more free-reign, these are given in a lenient manner, providing only the commands with a summary of what the command does and when you could perhaps benefit in using it.
		</p>

		<h2>Expert Tutorials</h2>
		<p>
			Vim is an extremely powerful tool. The features covered in this section are for those power users.
		</p>