<div id="register"><div class="alert alert-danger" id="errorBox" role="alert" style="display:none;">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  <div id="errorMsg"></div>
</div>
<form role="form" method="post" action="<?= URL_INC ?>register.php" onsubmit="return validateRegister()">
  <div class="form-group">
    <label for="r_username" class="col-sm-2 control-label">Username:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="r_username" id="r_username" placeholder="Username">
    </div>
  </div>
  <div class="form-group">
    <label for="r_password" class="col-sm-2 control-label">Password:</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="r_password" id="r_password" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="r_cPassword" class="col-sm-2 control-label">Confirm Password:</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="r_cPassword" placeholder="Confirm Password">
    </div>
  </div>
  <div class="form-group">
    <label for="r_email" class="col-sm-2 control-label">Email(<em>Optional</em>):</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name="r_email" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" name="submit">Register!</button>
    </div>
  </div>
</form></div>