<h1>Beginner</h1>
<h1>Installing and Opening Vim</h1>
<h2>File Formats</h2>
<p>Vim recognizes three file formats (Unix, DOS, and Mac) that determine line ending characters.</p>
<h2>Installation<a name="install"></a></h2>
<p>Visit <a href="http://www.vim.org/download.php">Vim's Download Page</a> and select the correct download link for your operating system. Vim comes pre-installed on Mac OSX as well as most Linux Distributions, so if you're using Mac or Linux, simply open a Terminal, type in "vim", hit enter and it should open for you! If it doesn't you can follow the steps on the Vim Download page to install it. Below is how to install Vim in Windows.</p>
<h3>Windows</h3>
<ol>	
	<li>After downloading the <strong>gvim74.exe</strong> file, navigate to the location you downloaded it to and double click the file.</li>
	<li>A window will pops up confirming that you want to install Vim, click "Yes" to begin the install<br/>
	    <img src="<?= URL_MEDIA ?>images/installation/win_setup1.gif" alt="Click Yes on this prompt"/>
	</li>
	<li>The next screen prompts you with the license agreement. To continue insalling the program click "I Agree"<br/>
	    <img src="<?= URL_MEDIA ?>images/installation/win_setup2.gif" alt="Click on I Agree to continue installation"/>
	</li>
	<li>After this the Installation Options show up. Here you can choose which features are installed. The default selections should be fine, so if you're new to Vim simply click "Next"<br/>
	    <img src="<?= URL_MEDIA ?>images/installation/win_setup3.gif" alt="Instation Options, click Next to start installation"/>
	</li>
	<li>The next screen lets you choose the location of the installation. Click "Install" to begin the installation<br/>
	    <img src="<?= URL_MEDIA ?>images/installation/win_setup4.gif" alt="Location of the installation, click Install to start installation"/>
	</li>
	<li>Wait for the installtion to complete<br/>
    	<img src="<?= URL_MEDIA ?>images/installation/win_setup5.gif" alt="Wait for the program to install"/>
	</li>
	<li>The next prompt confirms that the installation has completed successfully. Click Yes to view the Readme, or click No if you do not wish to view the Readme<br/>
    	<img src="<?= URL_MEDIA ?>images/installation/win_setup6.gif" alt="Readme prompt"/>
	</li>
	<li>You are now ready to start using Vim!</li>
</ol>
<h3>Ubuntu Linux</h3>
<p> Vim surprisingly doesn't come pre-installed in Ubuntu Linux anymore. The installation in Ubuntu is simple, simply type in the following command in a terminal.
<span class="commandBox">sudo apt-get install vim</span></p>

<h2>Opening Vim<a name="opening"></a></h2>
<h3>Windows</h3>
<p>If you stick with the default installation options on Windows, three Vim 
icons will appear on your computer desktop: gVim 7.4, gVim Easy 7.4, and 
gVim Read only 7.4. The only difference between standard and easy is that gVim 
Easy begins and locks in insert mode, whereas standard starts in normal mode 
and you can choose to toggle between modes. <a href="pages/modes.html">Learn more 
about modes.</a></p>
<h3>Mac, Linux and Unix</h3>
<p>In Mac, Linux and Unix based operating systems, open a terminal and type "vim" followed by a space and name of the file you want to edit or create. It's that easy! An example can be seen below.
<span class="commandBox">vim foo.txt</span></p>

