<h1>Beginner</h1>
	<h1>Introduction to Modes</h1>
	<a name="basicModes"></a>
	<h2>Basic Modes</h2>
	<p>Vim has six basic modes:</p>
	<h3>Normal mode</h3>
	 <p>Here you can enter normal editor commands. When you 
		start Vim, you are in normal mode. Normal mode is also known as 
		command mode. There are many different ways to reach normal mode. To 
		access normal mode from visual mode, type <kbd>[Esc]+v</kbd>, <kbd>v</kbd>, or <kbd>[CTRL]+V</kbd>. 
		From select mode, type any non-printable command to move the cursor 
		(without holding the shift key). From insert mode and replace mode, 
		type <kbd>[Esc]</kbd> twice. From command-line mode, type <kbd>CTRL+M</kbd> or <kbd>CTRL+N</kbd> 
		(which will execute the command) OR delete the entire line and then 
		type <kbd>CTRL+H</kbd> OR type <kbd>[Esc]</kbd> twice (which will not execute the command). 
		From ex mode, type <code>:vi</code> or <code>:visual</code>. When in doubt, if you want 
		to return to normal mode from ANY mode, you can always type <kbd>[Esc]</kbd> 
		twice. The only exception to this is ex mode. When returning to 
		normal mode, you will see a screen flash or hear a bell to let you 
		know you have succeeded.</p>

		<h3>Visual mode</h3>
		<p>This is like normal mode, but all of your movement 
		commands will extend a highlighted area. Non-movement commands will 
		be executed for the highlighted area as well. To access visual from 
		normal mode, just type <kbd>V</kbd> (non case-sensitive) or <kbd>^V</kbd>. From all 
		other modes, type "^O" or "^G". </p>

		<h3>Select mode</h3>
		<p>This mode looks similar to the MS-Windows selection 
		mode. If you type a printable character, the selection is deleted 
		and insert mode will begin. To access select mode from normal mode, 
		select text with the mouse while the 'selectmode' option contains 
		'mouse' OR hold the <kbd>Shift</kbd> key and use a non-printable command to 
		move the cursor while the 'selectmode' option contains 'key'. From 
		all other modes, type <kbd>^G</kbd>.</p>
		
		<h3>Insert mode</h3>
		<p>Here, all the text you type is inserted in to the 
		buffer. To access insert mode from normal mode, type <kbd>I</kbd>, <kbd>A</kbd>, 
		<kbd>O</kbd>, <kbd>C</kbd>, or <kbd>S</kbd> (non case-sensitive). From visual mode, type <kbd>C</kbd> 
		(non case-sensitive). From select mode, type a printable character, 
		which will insert the character and delete the selection. From 
		replace mode, type the <kbd>[Insert]</kbd> key. From command-line mode and ex 
		mode, type <code>:start</code>. </p>

		<h3>Command-line mode</h3>
		<p>This mode is for Ex commands (<code>:</code>), search 
		commands (<code>?</code> and <code>/</code>), and the filter command (<code>!</code>). Here you can enter 
		one line of text at the bottom of the window. To access command-line 
		mode from normal mode, type <kbd>:</kbd>, <kbd>/</kbd>, <kbd>?</kbd>, or <kbd>!</kbd>. From all other 
		modes, type <kbd>:</kbd>.</p>
		
		<h3>Ex mode:</h3>
		<p>Here you can also edit the command line, as in 
		command-line mode, but this is very limited. To access ex mode, 
		simply type <kbd>:Q</kbd>. This will work no matter what mode you're in.</p>
	<a name="otherModes"></a>
	<h2>Other Modes:</h2>
		<h3>Operator-pending mode</h3><p>This is like normal mode, except while Vim 
		waits for specification on the type of text on which the operator will 
		work after an operator command has started.</p>
		<h3>Replace mode:</h3><p>This is the same as insert mode except an existing 
		character of the text is deleted for every character you enter.</p>
		<h3>Virtual replace mode</h3><p>This is like replace mode, but you are 
		replacing screen space instead of characters.</p>
		<h3>Insert normal mode</h3><p>This mode acts like normal mode and returns 
		you to insert mode after a single command is executed.</p>
		<h3>Insert select mode</h3><p>This mode is entered when you start select mode 
		from insert mode. You return to insert mode when select mode ends.</p>