<h1>Beginner</h1>
	<h1>Switching Between Modes</h1>
	<p>To get out of whatever mode you are in (especially in case you don't know 
	or can't remember what mode you're in), just press the <kbd>[Esc]</kbd> key twice, which 
	will return you to normal mode. The only mode in which you cannot do this is ex 
	mode, where instead you must type <code>:visual</code> in order to return to normal mode. 
	Once you have returned to normal mode, you will see the screen flash or head a 
	bell to let you know you have succeeded.</p>
	<p>Switching to other modes:</p>
	<a class="anchor" name="normal"></a>
	<h2>From Normal Mode</h2>
	<ol>
		<li>Normal mode to visual mode: type <kbd>V</kbd> (non case-sensitive) or <kbd>^V</kbd></li>
		<li>Normal mode to select mode: select text with the mouse while the 
		'selectmode' option contains 'mouse' OR hold the <kbd>Shift</kbd> key and use a non-
		printable command to move the cursor while the 'selectmode' option 
		contains 'key'</li>
		<li>Normal mode to insert mode: type <kbd>I</kbd>, <kbd>A</kbd>, <kbd>O</kbd>, <kbd>C</kbd>, or <kbd>S</kbd> (non case-
		sensitive)</li>
		<li>Normal mode to replace mode: type <kbd>R</kbd> or <kbd>gR</kbd></li>
		<li>Normal mode to command-line mode: type <kbd>:</kbd>, <kbd>/</kbd>, <kbd>?</kbd>, or <kbd>!</kbd></li>
		<li>Normal mode to ex mode: type <kbd>Q</kbd></li>
	</ol>
	<a class="anchor" name="visual"></a>
	<h2>From Visual Mode</h2>
	<ol>
		<li>Visual mode to normal mode: type <kbd>[Esc]+v</kbd>, <kbd>v</kbd>, or <kbd>CTRL+V</kbd></li>
		<li>Visual mode to select mode: type <kbd>^G</kbd></li>
		<li>Visual mode to insert mode: type <kbd>C</kbd> (non case-sensitive)</li>
		<li>Visual mode to replace mode: type <kbd>R</kbd> or <kbd>gR</kbd></li>
		<li>Visual mode to command-line mode: type <kbd>:</kbd></li>
		<li>Visual mode to ex mode: type <kbd>Q</kbd></li>
	</ol>
	<a class="anchor" name="select"></a>
	<h2>From Select Mode</h2>
	<ol>
		<li>Select mode to normal mode: type a non-printable command to move the 
		cursor (without holding the shift key)</li>
		<li>Select mode to visual mode: type <kbd>^O</kbd> or <kbd>^G</kbd></li>
		<li>Select mode to insert mode: type a printable character, which will 
		insert the character and delete the selection</li>
		<li>Select mode to replace mode: type <kbd>R</kbd> or <kbd>gR</kbd></li>
		<li>Select mode to command-line mode: type <kbd>:</kbd></li>
		<li>Select mode to ex mode: type <kbd>Q</kbd></li>
	</ol>
	<a class="anchor" name="insert"></a>
	<h2>From Insert Mode</h2>
	<ol>
		<li>Insert mode to normal mode: type <kbd>[Esc]</kbd> twice</li>
		<li>Insert mode to visual mode: type <kbd>^O</kbd> or <kbd>^G</kbd></li>
		<li>Insert mode to select mode: type <kbd>^G</kbd></li>
		<li>Insert mode to replace mode: type the <kbd>[Insert]</kbd> key</li>
		<li>Insert mode to command-line mode: type <kbd>:</kbd></li>
		<li>Insert mode to ex mode: type <kbd>Q</kbd></li>
	</ol>
	<a class="anchor" name="replace"></a>
	<h2>From Replace Mode</h2>
	<ol>
		<li>Replace mode to normal mode: type <kbd>[Esc]</kbd> twice</li>
		<li>Replace mode to visual mode: type <kbd>^O</kbd> or <kbd>^G</kbd></li>
		<li>Replace mode to select mode: type <kbd>^G</kbd></li>
		<li>Replace mode to insert mode: type the <kbd>[Insert]</kbd> key</li>
		<li>Replace mode to command-line mode: type <kbd>:</kbd></li>
		<li>Replace mode to ex mode: type <kbd>Q</kbd></li>
	</ol>
	<a class="anchor" name="command"></a>
	<h2>From Command-line Mode</h2>
	<ol>
		<li>Command-line mode to normal mode: type <kbd>CTRL+M</kbd> or <kbd>CTRL+N</kbd> (which 
		will execute the command) OR delete the entire line and then type 
		<kbd>CTRL+H</kbd> OR type <kbd>[Esc]</kbd> twice (which will not execute the command)</li>
		<li>Command-line mode to visual mode: type <kbd>^O</kbd> or <kbd>^G</kbd></li>
		<li>Command-line mode to select mode: type <kbd>^G</kbd></li>
		<li>Command-line mode to insert mode: type <kbd>:start</kbd></li>
		<li>Command-line mode to replace mode: type the <kbd>[Insert]</kbd> key</li>
		<li>Command-line mode to ex mode: type <kbd>Q</kbd></li>
	</ol>
	<a class="anchor" name="ex"></a>
	<h2>From Ex Mode</h2>
	<ol>
		<li>Ex mode to normal mode: type <code>:vi</code> or <code>:visual</code></li>
		<li>Ex mode to visual mode: type <kbd>^O</kbd> or <kbd>^G</kbd></li>
		<li>Ex mode to select mode: type <kbd>^G</kbd></li>
		<li>Ex mode to insert mode: type <code>:start</code></li>
		<li>Ex mode to replace mode: type the <kbd>[Insert]</kbd> key</li>
		<li>Ex mode to command-line mode: type <kbd>:</kbd></li>
	</ol>
