<h1>Beginner</h1>
<h1>Basic Vim Navigation</h1>
<!--Some information referenced from http://vim.wikia.com/wiki/Tutorial, but 
not copied directly-->
<p>Navigating Vim may seem daunting at first, but once you're through the learning 
curve, it's very easy and efficient. Let's start with some basic navigation 
commands. The keypresses and commands must be executed in Normal Mode</p> 
<h2>Moving Spaces</h2>
<p>Typing <kbd>H</kbd>, <kbd>L</kbd>, <kbd>J</kbd>, and <kbd>K</kbd> (case-sensitive) will move you one space left, right, 
down, and up, respectively. For each of those, you can type a number in front 
of the command to specify how many spaces you'd like to move in that given 
direction. For example, typing <kbd>3L</kbd> will move you three spaces to the right.</p>
<h2>Moving to the Beginning or End of a Word</h2>
<p>Typing <kbd>E</kbd> will move you to the end of a word, and w will move you to the 
beginning of the next word. Typing b will move you backwards to the beginning of 
a word.</p>
<h2>Moving to Lines</h2>
<p>To move to the end of a line, type <kbd>$</kbd>, and to move to the beginning of a line, 
type <kbd>0</kbd>. Typing <kbd>gg</kbd> will move you to the first line, and typing <kbd>G</kbd> will move you to 
the last line. If you'd like to move to a certain line number, type the line 
number before <kbd>G</kbd> to specify that is the corresponding line number to which you 
would like to move. For example, if you type <code>45G</code>, you will move to line 45.</p>
<h2>Saving</h2>
<p>To save the current file, type <code>:w</code>. By typing <kbd>:</kbd> this puts the Editor in command Mode. An alternative to this would be to type 
<code>:update</code>. The difference is that <code>:w</code> will save the file even if it has not been 
changed since the most recent save, while <code>:update</code> will only save the file if 
it has been changed since the most recent save. Typing <code>:w!</code> will additionally 
override any problems found by Vim while saving the file. To save all open 
and changed files, type <code>:wa</code>. If you want to name the file and save it at the 
same time, type <code>:w filename</code> replacing filename with a name you specify. This is the equivalent to the "Save As" option 
found in other programs, and appropriately works interchangeably with typing 
<code>:saveas filename</code>.</p>
<h2>Quitting</h2>
<p>To quit Vim, type <code>:q</code>. If you'd like to quit and also save the current file 
at the same time, type <code>:wq</code>. To quit and save all open and changed files, type 
<code>:xa</code>. Similarly, typing <code>:qa</code> will close all open files and quit Vim unless there 
are unsaved changes. Typing <code>:q!</code> will quit Vim without saving any changes (be 
careful when using this command).</p>